extends layout

block content
  if posts
    each post, i in posts
      .post
        h1
          a(href='/posts/show/#{post._id}')=post.title
        p.meta Posted in 
          a(href='/posts/category/#{post.category}') #{post.category} by #{post.author} on #{moment(post.date).format('DD-MM-YYYY')}
        if post.mainImage
          img(src='/uploads/images/#{post.mainImage}' class='post-image')
        !=truncateText(post.body, 400)
        br
        a.more(href='/posts/show/#{post._id}') Read More
  else
    p.noposts There are no posts to display